**/target/*
Dockerfile-web
Dockerfile-backend
docker-compose.yml
docker-compose-all.yml
fly-backend.toml
fly-web.toml
README.md
samconfig.toml
template.yaml
.env
assets/*
azure-container-apps/*
ecs-fargate/*
google-cloud-run/*